*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.hero__section{
    background-image: url(/zomato project/images/heroSectionBackground.png);
    height: 60vh;
    background-size: cover;
}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 65px;
    padding: 16px 48px;
}

.navbar a{
    text-decoration: none;
    color: white;
}

.navbar__menu_container {
    display: flex;
    gap: 23px;
}

.navbar__menu_container .user__icon{
    height: 25px;
    width: 25px;
    border: 1px solid whitesmoke;
    border-radius: 50%;
    display: none;
}

.hero__section_container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: calc(60vh - 65px);
    gap: 34px;
}

.hero__section_image{
    width: 225px;
    height: 42px;
}

.hero__section_heading{
    color: white;
    font-size: 35px;
    text-align: center;
}

.hero__section_input{
    background-color: white;
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    border-radius: 13px;
    gap: 10px;
}

.hero__section_location, .hero__section_search{
    padding: 15px;
    border: none;
    outline: none;
}

.hero__section_search{
    width: 65%;
}

.hero__section_location{
    width: 35%;
    border-right: 3px solid #e0e0e0;
}

.container__we_offer{
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    justify-content: center;
    align-items: center;
    margin: 2.5rem auto;
    width: 90%;
}

.container__item{
    overflow: hidden;
    border-radius: 8px;
    border: 1px solid #e0e0e0;
    transition: all 1 ease-in-out;
}

.container__item h3,p{
    padding: 3px 2px 5px 8px;
}

.container__item p{
    font-size: 14px;
}

.container__item h3{
    font-weight: 14;
    font-size: 23px;
}

.container__item img{
    width: 100%;
    height: 12rem;
    object-fit: cover;
    object-position: center;
}

.container__item:hover{
    transform: scale(1.05);
}

.collection__container_super{
    width: 90%;
    margin: 1rem auto;
}

.collection__container_heading{
    padding: 12px 9px 18px;
}

.collection__container_heading .sub_heading{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    padding-top: 11px;
    font-size: 16px;
    flex-wrap: wrap;
}

.collection__container_heading .sub_heading :nth-child(2){
    color: rgb(221, 116, 116);
}

.collection__container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 13px;
}

.collection__container img{
    height: 14rem;
    border-radius: 12px;
}

.collection__container .item1{
    position: relative;
}

.collection__container .item2{
    position: relative;
}

.collection__container .item3{
    position: relative;
}

.collection__container .item4{
    position: relative;
}

.collection__container .item1 .content{
    position: absolute;
    top: 176px;
    padding: 7px;
    font-size: 14px;
    color: white;
}

.collection__container .item2 .content{
    position: absolute;
    top: 176px;
    padding: 7px;
    font-size: 14px;
    color: white;
}

.collection__container .item3 .content{
    position: absolute;
    top: 176px;
    padding: 7px;
    font-size: 14px;
    color: white;
}

.collection__container .item4 .content{
    position: absolute;
    top: 176px;
    padding: 7px;
    font-size: 14px;
    color: white;
}

/* .item4 .overlay{
    background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(0,0,0,0.97) 0%, rgba(0,0,0,0.78) 89%); 
    background: linear-gradient(rgb(0,0,0));
} */

.get__app{
    width: 100%;
    height: 2%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(255,251,247);
    flex-wrap: wrap;
    gap: 1.5rem;
}

.get__app .left{
    display: flex;
}

.get__app .left img{
    display: flex;
    flex: 2;
    width: 330px;
    height: 477px;
    padding-top: 75px;
    padding-bottom: 90px;
    padding-left: 56px;
    justify-content: center;
    align-items: center;
}

.get__app .right{
    padding: 0px 15px;
}

.get__app .right h4{
    font-size: 32px;
    font-weight: lighter;
    padding-bottom: 12px;
}

.get__app .right p{
    font-size: 14px;
    padding-left: 0px;
    padding-bottom: 20px;
}

.get__app .right .radio__button_container{
    display: flex;
    gap: 2rem;
    align-items: center;
    padding-bottom: 13px;
}

.get__app .right .radio__button_container div input{
    accent-color: rgb(239, 79, 95);
    height: 15px;
    width: 15px;
}

.get__app .right .input__container{
    padding-bottom: 14px;
}

.get__app .right .input__container input{
    padding: 11px 10px;
    outline: none;
    width: 100%;
    border: 1.5px solid grey;
    border-radius: 7px;
    font-size: 16px;
}

.get__app .right .share_app button{
    border: none;
    color: white;
    background-color: rgb(243, 122, 122);
    border-radius: 5px;
    cursor: pointer;
    padding: 10px 19px;
    font-size: 17px;
}

.get__app .right .download_app{
    padding-top: 9px;
    color: grey;
}

.get__app .right .image img{
    width: 150px;
}

.footer__container{
    width: 80%;
    margin: auto;
    padding-top: 45px;
}

.footer__container .footer{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-bottom: 45px;
}

.footer__container .footer .footer_image{
    width: 7.5rem;
}

.footer__container .footer .footer__contaier_link{
    display: flex;
    gap: 23px;
}

.footer__container .footer .footer__contaier_link button{
    padding: 7px;
    border: 1px solid grey;
    border-radius: 5px;
    cursor: pointer;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 5rem;
    gap: 12px;
}

.footer__container_section{
    display: grid;
    grid-template-columns: repeat(5,1fr);
    column-gap: 34px;
}

.footer__container_section .footer__link h4{
    font-weight: 5;
    letter-spacing: 2px;
    padding-bottom: 9px;
    font-size: 14px;
}

.footer__container_section .footer__link a{
    display: flex;
    flex-direction: column;
    color: grey;
    font-size: 14px;
    text-decoration: none;
    padding-bottom: 6px;
}

.footer__container_section .footer__link a:hover{
    color: black;
}

.footer__container_section .footer__link .section__link_container button{
    background-color: black;
    color: white;
    padding: 4px;
    border: 1px solid black;
    border-radius: 50%;
}

.footer__link .logo__container{
    padding-top: 23px;
}

.footer__link .logo__container .logo img{
    height: 60px;
}

.footer__section .final_footer{
    border-top: 1px solid grey;
    width: 95%;
    height: 15vh;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.footer__section .final_footer span{
    color: grey;
    letter-spacing: 1.5px;
    font-size: 16px;
}

.footer__section .owner p{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    flex-direction: row-reverse;
    padding-right: 25px;
    font-size: 15px;
}

@media only screen and (max-width:790px){
    .footer__container_section{
        grid-template-columns:repeat(4, 1fr);
    } 
}

@media only screen and (max-width:745px){
    .get__app .left img{
        padding: 75px 15px 19px 15px;
    } 
}

@media only screen and (max-width:680px){
    .footer__container_section{
        grid-template-columns:repeat(3, 1fr);
    } 
}

@media only screen and (max-width:600px){
    .hero__section_container .hero__section_input{
        width: 80%;
        margin: auto;
    }
    .navbar__menu_container .link{
        display: none;
    }
    .navbar__menu_container .user__icon{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .footer__container_section{
        grid-template-columns:repeat(2, 1fr);
        column-gap: 9px;
        row-gap: 23px;
    }
}

@media only screen and (max-width:530px){
    .footer__section .final_footer span{
        letter-spacing: 0px;
        font-size: 13px;
    }
    .footer__section .owner p{
        font-size: 16px;
    }
}

@media only screen and (max-width:400px){
    .hero__section .navbar{
        padding-bottom: 45px;
        padding-top: 30px;
    }
    .hero__section .hero__section_container img{
        width: 179px;
        height: 32px;
    }
    .hero__section .hero__section_container h3{
        font-size: 28px;
    }
    .hero__section .hero__section_container .hero__section_input{
        width: 80%;
    }
    .footer__container_section{
        grid-template-columns:repeat(1, 1fr);
    } 
}

@media only screen and (max-width:393px){
    .footer__container .footer img{
        padding-bottom: 12px;
    } 
}

